@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

*{
    box-sizing: border-box;

  }

body{
  background: #343F4F;
  overflow: hidden;
  margin: 0;
}
.wrapper{
  display: flex;
  max-width: 1200px;
  position: absolute;
  top: 30%;
  left: 25%;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)

}
 img:hover {
  top: -10px;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}

  
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  box-shadow: 0px 5px 5px 0px rgba(87, 42, 42, 0.5); 
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}


@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}



/* NAVBAR */

  .navbar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 50px;
    justify-content: flex-start;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  a:hover {
  color: #ff0;
  }
  
  .input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
  }
  
  .btn {
    padding: 15px 25px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .fa-search {
    font-size: 20px;
  }

/* For Information */

