@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 120px;
    margin-top: 10px;
    
  }
  
  .image-container {
    align-items: center;
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 50%;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 100%;
    object-fit:contain;
    background: rgb(117,74,57);
  background: linear-gradient(90deg, rgba(117,74,57,1) 0%, rgba(255,210,125,1) 40%, rgba(179,121,49,1) 100%);
  }
  
  .image-text {
    position: absolute;
    top: 93%;
    left: 0;
    width: 80%;
    text-align:center;
    margin-top: 20px;
  }
  
  .image-text h2 {
    font-family: 'Poppins', cursive, sans-serif;
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .image-text p1 {
    font-family: 'Poppins', cursive, sans-serif;
    font-size: 1em;
    color: rgb(30, 30, 197);
    line-height: 1;
  }
  .image-text p2{
    font-family: 'Poppins', cursive, sans-serif;
    font-size: 1em;
    color: rgb(197, 30, 30);
    line-height: 1;
    font-weight: bold;
  }
    /* Nav Abr */
.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px;
  background: rgb(117,74,57);
  background: linear-gradient(90deg, rgba(117,74,57,1) 0%, rgba(255,210,125,1) 40%, rgba(179,121,49,1) 100%);
  
}

.logo {
  height: 50px;
  margin-left: 15px;
  box-shadow: 2px 2px 4px #ece2d1; 
}
.pfp{
  max-width: 50px;
  max-height: 35px;
  padding: 5px;
  box-shadow: 2px 2px 4px #000000; 
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 5px;
  padding-right: 50px;
  justify-content: center;
}

li {
  display: inline-block;
  margin-right: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: color 0.2s ease-in-out;
  text-shadow: 2px 2px 8px #000000; 
}

a:hover {
  color: rgb(10, 10, 10);
  animation: bounceUp 0.3s ease infinite alternate;
}

@keyframes bounceUp {
  to {
    transform: translateY(-5px); 
  }
}

/* Dropdown styles */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #e29939b0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  display: block;
  margin: 0;
}

.dropdown-menu a {
  padding: 10px;
}
