*{
    box-sizing: border-box;
  }
  .navbar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  .logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 25px;
  font-family: Montserrat;
}
.logo {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fc5a03, 0 0 70px #fc5a03, 0 0 80px #fc5a03, 0 0 100px #fc5a03, 0 0 150px #fc5a03;
  animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fc5a03, 0 0 70px #fc5a03, 0 0 80px #fc5a03, 0 0 100px #fc5a03, 0 0 150px #fc5a03;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fc5a03, 0 0 70px #fc5a03, 0 0 80px #fc5a03, 0 0 100px #fc5a03, 0 0 150px #fc5a03;
  }
}
  .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 50px;
    justify-content: flex-start;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  a:hover {
  color: #ff0;
  }
  
  .input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
  }
  
  .btn {
    padding: 15px 25px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .fa-search {
    font-size: 20px;
  }
  
  
  table {
    border-collapse: collapse;
    margin: auto; 
  }
  
  td {
    padding: 10px;
  }
  
  img {
    width: 400px;
    height: 700px;
    object-fit: cover;
  }
  
  .image-table {
    margin-top: 100px;
  }

img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

  figure {
    margin: 0;
    text-align: center;
  }
  
  figcaption {
    margin-top: 20px;
    font-style:italic;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: rgb(13, 13, 156);
    font-size: 25px;
    text-decoration: underline;
    }